einops
fairseq
faiss-cpu
ffmpeg-python
gradio==4.21.0
librosa
numba
numpy==1.23.5
praat-parselmouth
pydub
pyloudnorm
pyworld
soundfile
tensorboard
tokenizers
torch==2.0.1
torchaudio==2.0.2
torchcrepe==0.0.22
transformers==4.38.2
